body{
	background-color: rgb(222,222,222);
}
nav{
	height: 61px;
	background-color: rgb(51,51,51);
	margin:0;
	padding: 0;
}
nav h1{
	display: inline-block;
	color: red;
}
nav ul{
	float: right;
	height: 61px;
	padding: 0;
	margin: 20px;
}
nav ul li{
	width: 90px;
	float: left;
	height: 61px;
	font-size: 13px;
}
nav ul li a{
	color: rgb(251,247,220);
}
section{
	margin:20px 10px;
	background-color: rgb(255,255,255);
	padding: 20px;
	box-shadow: 2px 2px 2px gray;
}
.gr{
	color: rgb(92,101,96);
}
span.gr{
	font-size: 13px;
}
section>p{
	text-indent: 2em;
}
#third-sec p{
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	width: 122px;
}
#third-sec img{
	width: 100px;
	height: auto;
	margin: 10px 0px;
}
#third-sec img,#third-sec p{
	border: solid 1px rgb(203,203,203);
}
table,tr,td{
	border-collapse:collapse;
	border: solid 1px rgb(204,204,204);
	text-align: left;
}
table{
	width: 100%;
}
tr:first-child{
	background-color: rgb(51,51,51);
	color: white;
	font-weight: bold;
}
tr:last-child{
	background-color: rgb(204,204,204);
	font-weight: bold;
}

#right-sec h3{
	border-left: solid 3px rgb(204,204,204); 
	padding: 8px;

}
.fri{
	width: 300px;
	float: left;
	text-align: right;
}
#right-sec form div{
	margin-left: 300px;
	color: rgb(92,101,96);
	font-size: 10px;
}
#right-sec textarea{
	width: 60%;
}

#right-sec button{
	color: white;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	background-color: rgb(51,85,208);
	border-radius: 5px;
	border: 0;
	height: 40px;
}
footer{
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	height: 73px;
	line-height: 73px;
}
