body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
section{
	width: 1220px;
	height:1213px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#all{
	width: 100%;
	height: 100%;
}
#top{
	position: relative;
	background-color: rgb(34,138,191);
	height: 57px;
	margin:0;
	padding: 0;
	vertical-align: middle;
}
#top img{
	margin: 10px 0px 10px 60px;
}
input#top-search{
	padding-left: 28px;
	float: right;
	margin: 15px;
	width: 270px;
	height: 20px;
	border:0;
	border-radius: 10px;
	background-image: url(top-search.png);
	background-repeat:  no-repeat;
	background-position: 5px;
}
#top-login{
	float: right;
	color: white;
	margin: 17px 120px 13px 20px;
	font-size: 13px;
	cursor: pointer;
}
#top-login img{
	margin: 0;
	padding-right: 5px;
	vertical-align: text-bottom;
}
#left-nav{
  	background: #2a2e3d;
	height: 1213px;
	width: 287px;
	float: left;
	display: inline-block;
	top: 57px;
	bottom: 0;
}
#user-innner{
	width: 50px;
	height: 50px;
	background-color: #b9babe;
	border-radius: 50px;
	margin: 5px;
}
#user-img{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border: solid 2px #b9babe;
	float: left;
	margin: 30px 20px 20px 30px;
}
#user-name{
	float: left;
	color: #e2e2e2;
	font-weight: bold;
	margin: 48px 20px 0 0;
}
.clear-both{
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
}
#user-info{
	color: #6e8095;
	font-weight: bold;
}
#user-info{
	margin: 0 2px;
}
#collection{
	float: left;
	border-right:  solid 3px #313545;
}
#fans{
	float: left;
}
#collection-count,#collection-word,#fans-count,#fans-word{
	width: 110px;
	text-align: center;
}
.left-folder{
	color: #6e8095;
}
#folder-1{
	background-image: url(left1.png);
}
#folder-2,#folder-4,#folder-5{
	background-image: url(left-collect.png);
}
#folder-3{
	background-image: url(left-share.png);
}
#folder-6{
	background-image: url(left-user.png);
}
div[id^="folder-"]{
	background-repeat: no-repeat;
	background-position: 40px 30px;
	padding: 20px 10px 20px 40px;
	margin: 10px 0;
}

#folder .pflder{
	margin: 10px 0 0 30px;
}
div[id^="folder-1-"] p{
	margin: 0;
}
div[id^="folder-1-"]{
	padding: 5px 10px 10px 30px;
}
div[id^="folder-1-2-"] img{
	padding-right: 5px;
}
div[id^="folder-"].foucsnow{
	background-color: #383d4e;
}
.foucsnowp{
	color: white;
	background-color: #383d4e;
}
#right-content{
	background-color: rgb(237,237,237);
}
#right-top{
	position: relative;
	width: 933px;
	height: 32px;
	left: 287px;
	background-color: rgb(255,255,255);
}
#rt-doc{
	position: absolute;
	margin: 6px;
	left: 20px;
	color: rgb(194,194,194);
}
#right-top p{
	display: inline;
	font-size: 13px;
	font-weight: bold;
	padding-right: 8px;
	vertical-align: middle;
}
#right-top p.right-fouce{
	color: rgb(105,152,194);
}
.right-box{
	width: 890px;
	background-color: #ededec;
	position: absolute;
	left: 287px;
	margin: 10px 21px;
}
#right-sec label{
	color: rgb(194,194,194);
	font-size: 13px;
	font-weight: bold;
	margin-right: 15px;
}
#right-sec{
	height: 88px;
	background-color: rgb(255,255,255);
}
select{
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
	border: solid 1px #e1e1e2;
	height: 25px;
	cursor: pointer;
}
#right-sec select{
	background-image: url(select.png);
	background-repeat: no-repeat;
}
#search-section{
	position: absolute;
	margin: 16px 32px;
}
#search-section select{
	width: 70px;
	background-position: 53px;
}
#business{
	position: absolute;
	left: 196px;
	top: 15px;
}
#business label,#business select{
	margin: 0px 10px 0px 0px;
}
#business select{
	width: 120px;
	background-position: 100px;
}
label#labchange{
	text-align: center;
	background-image: url(change.png);
	background-repeat: no-repeat;
	background-position: 1px 2px;
	position: relative;
	top: -13px;
	left: -14px;
	width: 40px;
	height: 50px;
	display: inline-block;
	color: white;
}
#info-index{
	position: absolute;
	left: 420px;
	margin-top: 15px;
}
#info-index input,#info-index label,#info-index select{
	margin: 0px 10px 8px 0px;
}
#info-index input{
	height: 25px;
	width: 115px;
	padding-left: 5px; 
	border: solid 1px #e1e1e2;
	cursor: pointer;
}
#info-index select.short{
	width: 70px;
	background-position: 52px;
}
#info-index select.long{
	width: 122px;
	background-position: 104px;
}
#right-sec input[type="button"]{
	position: absolute;
	top: 30px;
	right: 80px;
	width: 50px;
	height: 25px;
	border: none;
	color: #ebf2f7;
	background-color: #388ac1;
	border-radius: 2px;
	box-shadow: 0 0 1px ;
	cursor: pointer;
}
#right-thr{
	top: 128px;
}
#right-thr div{
	box-sizing:border-box;
	border-top: solid 1px #cacdd1;
	border-left: solid 1px #cacdd1;
	display: inline-block;
	background-color: rgb(255,255,255);
}
#right-thr #thr-1,#right-thr #thr-8{
	width: 31px;
	height: 66px;
}
#right-thr .money{
	width: 110px;
	height: 66px;
}
#right-thr #thr-9{
	width: 130px;
	height: 66px;
}
#right-thr #thr-1 span:first-child{
	position: absolute;
	top: 24px;
	left: 10px;
	height: 0;
	width: 0;
	border-right: solid 10px #b0b0af;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
#right-thr #thr-1 span:last-child{
	position: absolute;
	top: 26px;
	left: 12px;
	height: 0;
	width: 0;
	border-right: solid 8px rgb(255,255,255);
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
#right-thr #thr-8 span:first-child{
	position: absolute;
	top: 24px;
	left: 735px;
	height: 0;
	width: 0;
	border-left: solid 10px #b0b0af;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
#right-thr #thr-8 span:last-child{
	position: absolute;
	top: 26px;
	left: 735px;
	height: 0;
	width: 0;
	border-left: solid 8px rgb(255,255,255);
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
#right-thr div[id^="thr-"]{
	overflow: hidden;
	cursor:pointer;
}
#right-thr div[id^="thr-"] p:first-child{
	margin: 12px 27px 0px 27px;
	font-size: 13px;
}
#right-thr div[id^="thr-"] p:last-child{
	margin: 6px 30px 0px 20px;
	font-size: 16px;
	color: #adadad;
}
#right-thr div[id^="thr-"] p span{
	margin:0;
	font-size: 22px;
	color: #ec6500;
}
#right-thr div[id^="thr-"].money-fouce{
	border-top: solid 3px #4388c9;
}
#right-thr div[id^="thr-"].money:hover{
	border-top: solid 3px #4388c9;
}
#right-thr #thr-9{
	background-image: url(history.png);
	background-repeat: no-repeat;
	background-position: 15px;
}
#right-thr #thr-9 p{
	margin: 25px 0px 10px 60px ;
	width: 80%;
	font-size: 13px;
	color: black;
}
#right-for{
	top: 210px;
}
#right-for p{
	font-size: 13px;
	margin: 5px 0;
}
#right-for div{
	box-sizing:border-box;
	display: inline-block;
	width: 200px;
	height: 74px;
	border: solid 1px #cacdd1;
	background-color: rgb(255,255,255);
	margin: 0 30px 0 0;
	overflow: hidden;
	border-radius: 2px;
}
#right-for div:last-child{
	margin: 0;
}
#right-for .for-color{
	position: relative;
	width: 60px;
	height: 47px;
	top: 13px;
	left: 72px;
}
#right-for div[id^="for-"] span:first-child{
	position: relative;
	top: -16px;
	left: 6px;
	font-size: 11px;
}
#right-for div[id^="for-"] span:last-child{
	position: relative;
	top: -16px;
	left: 6px;
	font-size: 12px;
	color: #adadad;
	font-weight: bold;
}
#right-for #for-1{
	border-left: solid 3px #43b29d;
}
#for-1 .for-color{
	background-color: #43b29d
}
#right-for #for-2{
	border-left: solid 3px #388ac1;
}
#for-2 .for-color{
	background-color: #388ac1
}
#right-for #for-3{
	border-left: solid 3px #d04a36;
}
#for-3 .for-color{
	background-color: #d04a36
}
#right-for #for-4{
	border-left: solid 3px #e2cd47;
}
#for-4 .for-color{
	background-color: #e2cd47
}
#right-fiv{
	top: 325px;
}
#right-fiv>div{
	border: solid 1px #cacdd1;
	border-radius: 5px;
	box-shadow: 0 0 1px #aaaaaa;
}
#fiv-1{
	display: inline-block;
	float: left;
	width: 532px;
	height: 396px;
	background-color: rgb(255,255,255);
}
#fiv-2{
	float: right;
	margin: 0;
	width: 343px;
	height: 396px;
	background-color: rgb(255,255,255);
}
.fivsix-top{
	height: 41px;
	background-color: #f4f6f7;
	border-radius: 4px 4px 0 0;
}
.fivsix-top span{
	color: #aaaaaa;
	font-size: 13px;
	position: relative;
	top: 8px;
	left: 20px;
}
#fiv-1 ul{
	position: relative;
	margin-left: -28px; 
}
#fiv-1 ul li label{
	float: left;
	font-size: 14px;
	color: #535353;
	padding: 5px 18px;
	margin: 5px;
	background-color: #ececef;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
}
#fiv-1 ul li input{
	display: none;
}
#fiv-1 ul li input[type="radio"]:checked ~ label{
	position: relative;
	background-color: #ffffff;
	border: solid 1px #ededef;
	border-bottom: 0;
	box-sizing:border-box;
	z-index: 1;
}
#fiv-1 ul li div{
	display: none;
}
#fiv-1 ul li div table,#fiv-1 ul li div table td{
	border: solid 1px #eeeeee;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	color: #535353;
}
#fiv-1 ul li div table td{
	width: 100px;
	height: 32px;
}
#fiv-1 ul li div table td:hover{
	background-color: #f4f5f6;
}
#fiv-1 ul li input[type="radio"]:checked ~ div[id^="rad-menu"]{
	display: block;
	padding: 20px 35px 25px 30px;
	border: solid 1px #e5e5e5;
	border-radius: 3px;
	position: absolute;
	top: 34px;
	left: 45px;
}
#fiv-2section{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
#fiv-2section div[id^="fiv-2section"] span{
	color: #c3c2c2;
	font-size: 12px;
	margin-left: 10px;
}
#fiv-2section div[id^="fiv-2section"] p{
	color: #535353;
	font-size: 12px;
	margin: 0;
	margin-left: 10px;
	padding: 10px 0;
}
#fiv-2section #fiv-2section2{
	height: 55px;
	border-top: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
}
#fiv-2section #fiv-2section2 div{
	float: left;
}
#fiv-2section #fiv-2section2 div:first-child{
	width: 100px;
	border-right: solid 1px #eeeeee;
}
#fiv-2section3{
	clear: both;
	height: 160px;
	border-bottom: solid 1px #eeeeee;
}
#fiv-2section4 input[type="checkbox"]{
  	width: 15px;
  	height: 15px;
  	background-color: #d6d6d6;
  	vertical-align: middle;
}
#fiv-2section4{
	margin-top: 5px;
}
#fiv-2section4 input[type="submit"]{
	float: right;
	background-color: #388ac1;
	border: none;
	color: white;
	font-weight: bold;
	height: 28px;
	width: 53px;
	border-radius: 4px;
	cursor: pointer;
}
#right-six{
	top: 735px;
}
#right-six>div{
	border: solid 1px #cacdd1;
	border-radius: 5px;
	box-shadow: 0 0 1px #aaaaaa;
}
#six-1{
	display: inline-block;
	float: left;
	width: 345px;
	height: 356px;
	font-size: 12px;
	background-color: rgb(255,255,255);
}
#six-section{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-family: SimHei;
}
#div-select select{
	background-image: url(sel.png);
	background-repeat: no-repeat;
	margin-bottom: 10px;
	font-family: SimHei;
	cursor: pointer;
}
#div-select #select-fir{
	background-position: 45px;
	width: 66px;
	color: #535353;
}
#div-select #select-sec{
	background-position: 62px;
	width: 86px;
	color: #535353;
}
#div-select #select-thr{
	background-position: 55px;
	width: 76px;
	color: #535353;
}
#div-select span{
	display: inline-block;
	width: 62px;
	color: #535353;
	border: solid 1px #e1e1e2;
	height: 24px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}
#div-canlender table{
	color: #535353;
	width: 100%;
	text-align: center;
	border-top: solid 2px #a9cfec;
	border-collapse:separate;
	border-spacing: 0px 3px;
}
#div-canlender table tr th{
	border-bottom: solid 2px #e1e1e2;
	font-weight: normal;
	height: 26px;
}
#div-canlender table div{
	border: solid 2px #e1e1e2;
}
#div-canlender table tr td{
	border-top: solid 1px #ffffff;
	box-sizing:border-box;
	width: 42px;
	height: 42px;
	margin: 4px 4px 0 0;
	cursor: pointer;
}
#div-canlender table tr td.marker,#div-canlender table tr td:hover{
	border: solid 1px #fae18e;
}
#div-canlender table tr td p{
	margin: 0;
}
#div-canlender table tr td .weekend,#div-canlender table tr td .festival{
	color: #c9161d;
}
#six-2{
	float: right;
	margin: 0;
	width: 530px;
	height: 356px;
	background-color: rgb(255,255,255);
}
#six-2 table{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	font-family: SimHei;
	font-size: 12px;
	border-collapse: collapse;
}
#six-2 table #th-rank{
	width: 60px;
	height: 27px;
}
#six-2 table #th-brand{
	width: 100px;
}
#six-2 table #th-search{
	text-align: center;
}
#six-2 table tr td{
	margin: 0;
	padding: 0;
	border: solid 1px #e1e1e2;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
#six-2 table tr td.right-td{
	text-align: left;
}
#six-2 table tr:hover{
	background-color: #f4f5f6;
}
#six-2 table tr td.right-td span{
	display: inline-block;
	float: left;
	margin-left: 40px;
	margin-top: 2px;
}
#six-2 table tr td.right-td .bac{
	background-color: rgb(220,220,220);
	height: 4px;
	width: 200px;
	margin-left: 98px;
	margin-top: 0px;
}
#six-2 table tr td.right-td div p{
	margin: 8px 0;
	height: 100%;
}
#six-2 table tr td.right-td div #col1{
	width: 140px;
	background-color: #ed6e52;
}
#six-2 table tr td.right-td div #col2{
	width: 120px;
	background-color: #ef8150;
}
#six-2 table tr td.right-td div #col3{
	width: 102px;
	background-color: #f19e4f;
}
#six-2 table tr td.right-td div .colbac{
	background-color: #7fcbf0;
}
#col4{
	width: 95px;
}
#col5{
	width: 85px;
}
#col6{
	width: 77px;
}
#col7{
	width: 74px;
}
#col8{
	width: 63px;
}
#col9{
	width: 60px;
}
#col10{
	width: 55px;
}